<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/facts.css">
    <title>Panda Guardians</title>
  </head>

  <body>

    <section class="showcase">
      <header>
        <h2 class="logo"><a href="#"><img src="logo1.svg" alt="logo_img" width="30" height="20"></a>Panda Guardians&nbsp; </h2>
        <div class="toggle"></div>
      </header>
     <video src = "redPanda.mp4" muted loop autoplay></video>

      <div class="overlay"></div>

      <div class="text dz">
        <h2 class="hh">Facts</h2>
        <br>
        <div class="first">
        <p>The red panda is slightly larger than a domestic cat with a bear-like body and thick russet fur. The belly and limbs are black, and there are white markings on the side of the head and above its small eyes. Red pandas are very skillful and acrobatic animals that predominantly stay in trees. Almost 50% of the red panda’s habitat is in the Eastern Himalayas. They use their long, bushy tails for balance and to cover themselves in winter, presumably for warmth. Primarily an herbivore, the name panda is said to come from the Nepali word ‘ponya,’ which means bamboo or plant eating animal..</p>
        <br>
        <h1 class="hh">RED PANDA FAST FACTS</h1>
        <p>
          > Red pandas lick themselves clean, just like house cats do.
          <br>
          > Newborns hardly have any fur on bottoms of their feet.
          <br>
          > The fur grows as they get older.
          <br>
          > Red pandas wrap their tails around themselves to keep warm in their chilly habitat.
          <br>
          > They eat about 20,000 bamboo leaves every day.


        </p>
       

        <p>
          > Despite their exalted status and relative lack of natural predators, pandas are still at risk. Severe threats from humans have left just over 1,800 pandas in the The panda, with its distinctive black and white coat, is adored by the world and considered a national treasure in China. This bear also has a special significance for WWF because it has been our logo since our founding in 1961.Pandas live mainly in temperate forests high in the mountains of southwest China, where they subsist almost entirely on bamboo. They must eat around 26 to 84 pounds of it every day, depending on what part of the bamboo they are eating. They use their enlarged wrist bones that function as opposable thumbs. A newborn panda is about the size of a stick of butter—about 1/900th the size of its mother—but females can grow up to about 200 pounds, while males can grow up to about 300 pounds as adults. These bears are excellent tree climbers despite their bulk.
        </p>
      </div>
      <div class="second">
        <img src="map.jpg" alt="">
        <br>
        <br>
        <br>
        <br>
        <img src="rp2.jpg" alt="">
      </div>


      </div>
    </section>

      <div class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <br>
          <li><a href="https://www.ndtv.com/topic/red-pandas">News & Press</a></li><br>
          <li><a href="/facts">Facts</a></li><br>
          <li><a href="https://www.nwf.org/About-Us/Careers">Careers</a></li><br>
          <li><a href="/about">About-Us</a></li><br>
          <li><a  href="/Statistics">Statistics</a></li><br>
          <li><a href="/contact">Contact-Us</a></li><br>
        </ul>
      </div>
  
      <script>
        const menuToggle = document.querySelector('.toggle')
        const showcase = document.querySelector('.showcase')
  
        menuToggle.addEventListener('click', () => {
          menuToggle.classList.toggle('active')
          showcase.classList.toggle('active')
        })
      </script>
      
    </body>
  </html>
