.hh{
    text-align: center;
    text-decoration: underline;
   
}
.text{
    position: relative;
    left: 70px;
    margin: 0px;


    width: 90%;
}
.dz{
    background-color:grey;
    opacity: 0.9;
}
.first{
    width: 50%;
    float: left;
    position: relative;
    left: 50px;
}
.second{
    width: 50%;
    float: right;
}
.second img{
    width: 80%;
    position: relative;
    left: 80px;
}

@media only screen and ( max-width: 777px){
    
    .hh{
        text-align: center;
        text-decoration: underline;
        margin-top: 80px;
       
    }
    .text{
        position: relative;
        left: 0px;
        margin: 0px;
    
    
        width: 100%;
    }
    
    
    .first{
        width: 95%;
        left: 0px;
        float: none;
        margin: 10px;
    }

    .second{
        width: 100%;
        float: none;
    }

    .second img{
        width: 80%;
        position: relative;
        left: 20px;
    }
}